body{

    /* Stylize */
    background-color: white;
    text-decoration-color: blueviolet;

    background-attachment: fixed;
    
}


header {
    font-size: 4em;
              /* Text color */
    padding: 15px;             /* Padding around header */
    text-align: center;         /* Center text */
}

.container {
    display: flex;              /* Use Flexbox for layout */
    height: calc(100vh - 60px); /* Full height minus header height */
}

#menu {
    width: 250px;              /* Fixed width for the menu */
    background-color: #f0f0f0; /* Background color for the menu */
    padding: 10px;             /* Padding around menu items */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

#myDynamicTable {
    flex-grow: 1;              /* Allow the table to take remaining space */
    padding: 20px;             /* Optional padding */
    overflow: auto;            /* Allow scrolling if content overflows */
}

table {
    border-collapse: collapse; /* Make table borders collapse */
    width: 100%; /* Table takes full width of its container */
  }
  
  th, td {
    padding: 10px; /* Space inside cells */
    text-align: center; /* Center text */
  }




footer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: grey;
    margin: 0.5em;
    padding: 1em;
    width: 60%;
    position: -webkit-sticky;
    bottom: 10%;
}


.quadrant-1 {
    background-color: lightgray; /* Color for Quadrant 1 */
}
.quadrant-2 {
    background-color: lightslategray; /* Color for Quadrant 2 */
}
.quadrant-3 {
    background-color: lightslategray; /* Color for Quadrant 3 */
}
.quadrant-4 {
    background-color: lightgray; /* Color for Quadrant 4 */
}