body{

    /* Stylize */
    background-color: white;
    text-decoration-color: blueviolet;

    background-attachment: fixed;
    
}



header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
              /* Text color */
    padding: 15px;             /* Padding around header */
    text-align: center;         /* Center text */
}

.container {
    display: flex;              /* Use Flexbox for layout */
    height: calc(100vh - 60px); /* Full height minus header height */
}

#menu {
    width: 250px;              /* Fixed width for the menu */
    background-color: #f0f0f0; /* Background color for the menu */
    padding: 10px;             /* Padding around menu items */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
    font-size: 30px;
}

button{
    font-size: 30px;
}

#myDynamicTable {
    flex-grow: 1;              /* Allow the table to take remaining space */
    padding: 5px;             /* Optional padding */
    overflow: auto;            /* Allow scrolling if content overflows */
    text-align: center;
    justify-content: center;
}

table {
    border-collapse: collapse; /* Make table borders collapse */
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    /* width: 100%;  */
    /* Table takes full width of its container */
  }


  
  th, td {
    padding: 1px; /* Space inside cells */
    text-align: center; /* Center text */
    width: 4vh;
  
    
}
tr,td {
      height: 4vh;
      background-color: grey
  }

  td.hovered {
    background-color: beige;
  }






footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: grey;
    margin: 0.5em;
    padding: 1em;
    width:100%;
    position: -webkit-sticky;
    bottom: 10%;
}

#teamFilter {
    /* border: 2px solid #000; Change #000 to any color you like */
    padding: 10px; /* Optional: Add some padding for better spacing */
    margin: 10px 0; /* Optional: Add margin to separate it from other elements */
  }

.quadrant-0 {
    background-color: lightgray; /* Color for Quadrant 1 */
}
.quadrant-1 {
    background-color: lightgray; /* Color for Quadrant 2 */
}
.quadrant-2 {
    background-color: lightgray; /* Color for Quadrant 3 */
}
.quadrant-3 {
    background-color: lightgray; /* Color for Quadrant 4 */
}


